.container-fluid {
  background-image: url("../../assets/background.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  font-family: "Times New Roman", Times, serif;
}
